# OS
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.idea/

confirm you
*.log

# ===== Python build artifacts =====
build/
dist/
*.egg-info/

# ===== Android / Gradle =====
.gradle/
**/build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Android Studio / IntelliJ
**/.idea/
**/*.iml

# ===== Secrets / keys =====
*.keystore
*.jks
google-services.json
